
$keytable-focus: #3366ff !default;
$keytable-focus-alt: #ff8b33 !default;

table.dataTable tbody {
	th.focus,
	td.focus {
		outline: 2px solid $keytable-focus;
		outline-offset: -2px;
	}
}

div.dtk-focus-alt {
	table.dataTable tbody {
		th.focus,
		td.focus {
			outline: 2px solid $keytable-focus-alt;
			outline-offset: -2px;
		}
	}
}