
$keytable-focus: #3366ff !default;
$keytable-focus-alt: #ff8b33 !default;

table.dataTable tbody {
	th.focus,
	td.focus {
		outline: 2px solid $keytable-focus;
		outline-offset: -2px;
	}

	tr.selected {
		th.focus,
		td.focus {
			outline-color: darken($keytable-focus, 20);
		}
	}
}

div.dtk-focus-alt {
	table.dataTable tbody {
		th.focus,
		td.focus {
			outline: 2px solid $keytable-focus-alt;
			outline-offset: -2px;
		}
	}
}

html.dark {
	table.dataTable tbody {
		th.focus,
		td.focus {
			outline-color: rgb(13, 110, 253);
		}

		tr.selected {
			th.focus,
			td.focus {
				outline-color: darken(rgb(13, 110, 253), 20);
			}
		}
	}

	div.dtk-focus-alt {
		table.dataTable tbody {
			th.focus,
			td.focus {
				outline-color: $keytable-focus-alt;
			}
		}
	}
}