<?xml version="1.0" encoding="UTF-8" ?>
<dt-example table-type="html" order="2">

<css lib="datatables keytable" />
<js lib="jquery datatables keytable">
<![CDATA[
function eventMsg ( msg ) {
	var n = document.getElementById('info');
	n.innerHTML += msg+"<br>";
	n.scrollTop = n.scrollHeight;
}

$(document).ready(function() {
	var table = $('#example').DataTable();
	var keys = new $.fn.dataTable.KeyTable( table );

	/* Focus handler for all cells in last column */
	keys.event.focus( 4, null, function( node, x, y ) {
		eventMsg( "Cell "+x+","+y+" focused ('live' event - column)" );
	} );
	
	/* Focus handler for all cells in 8th row */
	keys.event.focus( null, 7, function( node, x, y ) {
		eventMsg( "Cell "+x+","+y+" focused ('live' event - row)" );
	} );
	
	/* Focus using coords. */
	keys.event.focus( 1, 0, function( node ) {
		keys.event.remove.focus( node );
		eventMsg( "Cell 1,0 focus - this event has now been removed" );
	} );
	
	keys.event.focus( 1, 3, function() {
		eventMsg( "Cell 1,3 focus" );
	} );
	
	/* focus with a node */
	keys.event.focus( $('#example tbody tr:eq(2) td:eq(0)')[0], function() {
		eventMsg( "Cell 0,2 focus" );
	} );
	
	/* Blur using a node */
	keys.event.blur( $('#example tbody tr:eq(1) td:eq(2)')[0], function() {
		eventMsg( "Cell 1,2 blur" );
	} );
	
	/* Blur using coords */
	keys.event.blur( 2, 4, function() {
		eventMsg( "Cell 2,4 blur" );
	} );
	
	/* Action */
	keys.event.action( 2, 2, function( node ) {
		eventMsg( "Cell 2,2 action" );
		if ( node.style.fontWeight == "" || node.style.fontWeight == "normal" ) {
			node.style.fontWeight = "bold";
		}
		else {
			node.style.fontWeight = "normal";
		}
	} );
	
	keys.event.action( 2, 5, function( node ) {
		eventMsg( "Cell 2,5 action" );
		if ( node.style.fontStyle == "" ) {
			node.style.fontStyle = "italic";
		}
		else {
			node.style.fontStyle = "";
		}
	} );
} );
]]>
</js>

<title lib="KeyTable">Events</title>

<info><![CDATA[

KeyTable provides the ability to listen for events such as `focus`, `blur`, `esc` (the escape key) and 'return' (the return key) can be assigned event handling functions through KeyTable's the API. This gives you the ability to take an action on a cell.

The example shown below has a few cells (selected at random, but near the top) with blur and focus events assigned to them. You can also see the navigation around the table using arrow keys.

]]></info>

<demo-html>
	<div id="info" class="box">
		Event information:<br />
	</div>
</demo-html>

</dt-example>
